<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
    {% block content %}
      <div class="jumbotron">
        <h1> Info Page ABout Company </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem perferendis rem unde.
          Autem commodi cum cupiditate delectus dicta dolore doloremque enim et laudantium modi nemo omnis rem, soluta voluptate?</p>
      </div>
    {% endblock %}
</body>
</html>